@import url('https://fonts.googleapis.com/css?family=Alata:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');


*{
    font-family: 'Alata', Arial;
}


body{
    background-image: url('../images/bgconimoveledt.png');
    background-size: contain;
    color: red;
}

.imglogo{
    display: flex;
    margin: 30px auto;
    max-width: 100%;
    width: 130px;
    height: 130px;
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 30px;
}

table {
    min-width: 70%;
    margin: auto;
    text-align: center;
    table-layout: fixed;
}

h3{
    text-align: center;
    font-size: 13px;
    background-color: #fff;
    margin: 0 25px;
    color: brown;
    font-family: 'Sen', sans-serif;
}

table, tr, th, td{
    padding: 7px 0;
    color: brown;
    border-collapse: collapse;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.473);
}

th{
    color: rgb(255, 81, 0);
    padding: 10px 10px;
}

.item{
    font-size: 13px;
}

.descricaoDoHam{
    font-size: 10px;
}

#total, #totalTXT{
    color: rgb(255, 81, 0);
}

button{
    background-color: brown;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px;
}

.btn-goBack, .goBack, .btn-avancaForm, .btn-comprarMais, #finalizarPedido, #confirmarPedido{
    margin: 20px 5px;
}

.btn-avancaForm, #finalizarPedido, #confirmarPedido{
    float: right;
}

#confirmarPedido{
    position: relative;
    bottom: 120px;
    right: 700px;
}



form{
    margin-left: 5%;
}

input{
    display: block;
    width: 45%;
    margin: 10px 0 5px 0;
    border: solid brown;
    border-radius: 6px;
    padding: 10px;
}

select{
    margin-top: 5px;
    color: white;
    background-color: brown;
    border: brown;
    padding: 6px;
    font-family: sans-serif;
}

textarea{
    border: solid brown;
    border-radius: 6px;
}

#troco{
    width: 33%;
}

form{
    background-color: rgba(255, 255, 255, 0.74);
    padding: 20px 10px;
    border-radius: 7px;
}

.msgFim{
    background-color: rgba(255, 255, 255, 0.74);
    padding: 5px;
    font-size: 1.3rem;
    color: black;
    text-align: justify;
}

.btnFim{
    display: flex;
    margin: 30px auto;
    width: 150px;
    height: 70px;
    padding-bottom: 30px;
    cursor: pointer;
}

#formaRecebimento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    width: 300px;
    margin: 0 auto;
    list-style: none;
}

#formaRecebimento > li{
    background-color: rgba(199, 198, 198, 0.952);
}

#formaRecebimento > li > img{
    display: flex;
    margin: 25px auto;
    cursor: pointer;
}

.inativo{
    display: none;
}

.endnro{
    display: flex;

}

#formTaxas > div > #endereco{
    width: 270px;
}

#formTaxas > div > #nro{
    width: 70px;
    margin-left: 7px;
}

#localizacep{
    width: 100px;
}

#rtn{
    display: flex;
    float: left;
    margin: 15px;
}

#endok{
    display: flex;
    float: right;
    margin: 15px;
}

#formaRecebimento > li > p{
    text-align: center;
    color: brown;
    /* background-color: rgba(179, 179, 179, 0.945); */
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

#emcasa{
    width: 115px;
    height: 115px;
}

#peganaloja{
    width: 115px;
    height: 115px;
}

.confirmaForm, .ob > p{
    font-family: 'Bebas Neue', sans-serif;
}

.confirmaForm{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
}

/* .formConfcli{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: brown;
    background-color: rgba(255, 255, 255, 0.897);
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
} */

.infoDados
{
    font-family: 'Bebas Neue', sans-serif;
    align-self: center;
    justify-self: flex-start;
}
/*
#endNoPreenchimento{
    font-family: 'Bebas Neue', sans-serif;
} */


#recebeEmCasa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 450px;
    margin: 0 auto;
    grid-gap: 5px;
    background-color: rgba(165, 42, 42, 0.877);
}

#vaiPegarLa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 450px;
    margin: 0 auto;
    grid-gap: 5px;
}

#vaiPegarLa > p{
    text-align: center;
    font-family: 'Volkhov', serif;
    font-size: 12px;
}


.revisaDados{
    color: #fff;
    margin-left: 20px;
    font-family: 'Volkhov', serif;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', serif;
    align-self: center;
    justify-self: center;
}

.aproxima{
    text-align: center;
}

.infoDados{
    color: #fff;
    font-family: 'Volkhov', serif;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.aviso{
    color: yellow;
    grid-column: 1/3;
    text-align: center;
    font-family: 'Roboto', serif;
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0;
}
.secConfirma{
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    margin: 15px auto;
}

.formatxt, .ob{
    margin: 10px 0;
    color: brown;
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgba(255, 255, 255, 0.87);
    padding: 3px;
    border-radius: 4px;
}

.formaDePGT{
    background-color: brown;
    height: 35px;
    border: solid brown;
    border-radius: 6px;
    width: 150px;
    margin: 5px 0;
}

.trocoInput{
    width: 110px;
    border: 3px solid brown;
    padding: 3px;
    border-radius: 4px;
} 

.obsBtn{
    display: flex;
    width: 300px;
    justify-items: center;
    align-items: center;
    
}

.obsBtn > textarea{ 
    border: solid brown;
    border-radius: 6px;
}

.obsBtn > #confiPedido{
    width: 80px;
    margin-left: 15px;
    background-color: brown;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
}

/* .obsBtn > button:hover{
    color: yellow;
    transition: 1s;
} */

.naoehcli{
    margin-top: 10px;
    background-color: rgba(165, 42, 42, 0.877);
    padding-left: 8px;
    border-radius: 4px;
}

/* .btn-comprarMais{
    display: flex;
    margin: 15px auto;
    background-color: brown;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px;
}  */

@media(max-width: 768px){
    input{
    display: block;
    width: 75%;
    margin: 1rem 0 .5rem;
    border: solid brown;
    border-radius: 6px;
    padding: 2%;
}

#confirmarPedido{
    right: 5px;
}

.logoform{
    display: none;
}

}