@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    align-items: center;
    background-image: url('../images/bgconimoveledt.png');
    background-size: contain;
}

.imglogoMain{
    display: flex;
    margin: 10px auto;
    max-width: 100%;
    width: 130px;
    height: 130px;
    background-color:#fff;
    padding: 10px 10px;
    border-radius: 30px;
}

.imglogo{
    display: flex;
    margin: 10px auto;
    max-width: 100%;
    width: 245px;
    height: 245px;
    background-color: rgba(212, 212, 212, 0.924);
    padding: 10px 10px;
    border-radius: 130px;
}

#intro{
    text-align: center;
    font-size: 1rem;
    color: black;
    background-color: #fff;
    padding: 10px 10px;
    margin: 0 15px;
}

ul{
    display: flex;
    list-style: none;
    width: 350px;
    margin: 20px auto;
    flex-wrap: wrap;
    max-width: 100%;
}

.listaCardapio{
    border-radius: 5px;
    margin: 10px auto;
    background-color: #fff;
    padding: 10px 10px;
}

.listaCardapio > img{
    flex: 1;
}

.iconeham{
    margin: 0 16px;
}

.bebidaIndex{
    width: 129px;
}

.bebidaIndex > a > img{
    margin-left: 15px;
}

.listaCardapio > a{
    text-decoration: none;
    color: crimson;
    font-weight: bolder;
    text-align: center;
    font-size: 1.1rem;
}

footer{
    text-align: center;
    color: black;
    font-weight: 700;
    margin-top: 30px;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.377);
}

.mostraRede{
    
    display: flex;
    /* width: 300px; */
    margin: 10px auto
    
}

.mostraRede > a{
    text-decoration: none;
    color: black;
    margin: 5px auto
}

.mostraRede > a > span{
    margin-left: 10px;
    position: relative;
    top: -15px;
}

#checaCadastro, #formularioParaSalvar{
    /* height: 100vh; */
    padding-bottom: 5px;
    width: 100%;
    max-width: 100%;
    background-image: url('../images/bgconimoveledtpb.png');
    background-size: contain;
    position: absolute;
    top: 0;
}

.checaCel{
    margin-bottom: 250px;
}

#checaCadastro > p{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.746);
    position: relative;
    /* color: yellow; */
    padding: 10px;
    font-weight: bold;
}

#telefoneCad{
    display: flex; 
    margin: 15px auto;
    width: 100px;
    border: brown 1px solid;
    padding: 3px;
    border-radius: 4px;
    text-align: center;
}

#formularioParaSalvar > img{
    display: flex;
    margin: 10px auto;
    max-width: 100%;
    width: 130px;
    height: 130px;
    background-color:#fff;
    padding: 10px 10px;
    border-radius: 30px;
}

#formularioParaSalvar > form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 10px auto;
}

#formularioParaSalvar > form > input,
#formularioParaSalvar > form > select,
#formularioParaSalvar > form > .endnro > input{
    border: solid 1px brown;
    border-radius: 4px;
    padding: 5px;
    margin: 4px;
    background-color: #fff;
}

#formularioParaSalvar > form > input > #localizacep{
    width: 80px;
}

#formularioParaSalvar > form > button{
    width: 180px; margin: 10px auto;text-transform: uppercase;
    background-color: brown;
    border: 1px solid brown;
    color: white;
    border-radius: 4px;
    padding: 5px 0;
}
