@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sen:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../images/bgconimoveledt.png');
    background-size: contain;
}

.imglogo{
    display: flex;
    margin: 15px auto;
    max-width: 100%;
    width: 130px;
    height: 130px;
    background-color:#fff;
    padding: 10px 10px;
    border-radius: 30px;
}

h1{
    color: red;
    margin: 15px;
    font-family: sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    text-align: center;
    margin: 10px 25px;
    background-color: rgba(230, 230, 230, 0.815);
    color: brown;
    font-size: 1.8rem;
    font-family: 'Sen', sans-serif;
}

h3{
    text-align: center;
    font-size: 10px;
    background-color: #fff;
    margin: 0 25px;
    color: brown;
    font-family: 'Sen', sans-serif;
}

section{
    margin: 0 25px;
    /* display: flex; */
}

hr{
    width: 80%;
    margin: 15px auto;
    border: dashed 1px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 10px;
    color: brown;
    background-color: rgba(255, 255, 255, 0.877);
    padding: 0px 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 5px;
}

img{
    max-width: 100%;
    border-radius: 5px;
    width: 112px;
    height: 112px;
    overflow: hidden;
    justify-self: center;
}

.tituloHamburguer{
    margin-top: 20px;
    grid-column: 1/4;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 166, 0);
    font-weight: bolder;
}

.descricaoHamburguer{
    grid-column: 1/3;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 11px;
    margin-top: 5px;
}

select{
    width: 45%;
    justify-self: center;
    color: white;
    background-color: brown;
    border: brown;
    padding: 6px;
    font-family: sans-serif;
}

.subtotalValor{
    font-family: 'Bebas Neue';
    font-size: 1rem;
    margin-top: 5px;
}

button{
    background-color: brown;
    color: white;
    padding: 5px;
    font-family: sans-serif;
    border-radius: 4px;
    border: brown;
}

#molhosRecheios{
    display: grid;
    max-width: 400px;
    grid-template-columns: 1fr 1fr;
    margin: 15px auto;
    align-items: center; 
}

#molhosRecheios > .container{
    display: flex;
    
}

/* #molhosRecheios{
    margin-top: 15px;
}

#molhosRecheios > .container{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 5px auto;
} */

#molhosRecheios > .container > .tituloHamburguer{
    margin-top: 2px;
    margin: 5px auto;
    font-family: 'Bebas Neue', sans-serif;
}

#nomePedido{
    text-align: center;
    color: brown;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.712);
}

#insereObs{
    display: flex;
    margin: 15px auto;
    font-family: 'Bebas Neue';
    font-size: 15px;
    background-color: rgb(231, 231, 231);
    border: solid 2px brown;
}

#confirmaInsere{
    display: flex;
    margin: 0 auto;
    font-family: 'Bebas Neue';
}

.btnPedir{
    grid-column: 3;
    width: 60%;
    justify-self: center;
    margin-top: 5px;
}

.btn-goBack{
    display: grid;
    margin: 40px  auto;
}

#listaDin > .container > .btnPedir{
    font-size: 9px;
    background-color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.redirectCartMSG{
    background-color: brown;
    color: white;
    text-align: center;
    margin: 15px 20px;
    cursor: pointer;
    text-transform: uppercase;
    color: yellow;
    font-family: 'Bebas Neue', serif;
}